.meta {
  margin-top: 0.4rem;
  gap: 1rem;
  font-size: 0.9rem;
  cursor: default;
  padding: 0 2rem;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    margin-right: 12px;
  }
}

.buttom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12px;

  span {
    margin-right: 12px;
  }
}

.customBadge {
  background-color: var(--bg-tertiary);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  white-space: nowrap;
}

.exp {
  font-weight: 500;
  font-size: 0.85rem;
  color: #ffc83d;
  white-space: nowrap;
}
