.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  width: 100%;
  padding: 0.5em 0.75em;
  font-size: var(--font-size-primary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-primary);
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: border 0.2s ease;

  &:focus {
    border-color: var(--accent);
    outline: none;
  }
}
.label {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--text-secondary);
}
