.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: var(--font-size-secondary);
}

.label {
  padding-left: 0.2rem;
  font-weight: var(--font-weight-big);
  color: var(--text-secondary);
}

.input {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-primary);
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: border 0.2s;

  &:focus {
    border-color: var(--accent);
    outline: none;
  }
}

.categoryWrapper {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-primary);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.toggleButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  width: fit-content;
}

.advancedSettings {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;

  &.visible {
    max-height: 1500px; // Достаточно большое значение, чтобы вместить контент
  }
}

.btnsWrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
