.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: var(--border-radius-primary);
    background-color: var(--bg-secondary);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}