html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  color: var(--text-primary);
  background: var(--bg-primary);
  font-size: 20px;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

button {
  all: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: var(--font-size-primary);
  font-family: Roboto, system-ui, sans-serif;
}
