/* 🌞 Light theme */
:root {
    /* === TEXT === */
    --text-primary: #1e1e1e;
    --text-secondary: #6e6e6e;
    --text-muted: #a0a0a0;
    --text-on-accent: #1e1e1e;

    /* === BACKGROUND === */
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bg-tertiary: #e8e8e8;

    /* === ACCENTS === */
    --accent: #3b82f6;
    --accent-muted: #93c5fd;

    /* === UI === */
    --border-color: #d4d4d4;
    --shadow-color: rgba(0, 0, 0, 0.05);

    /* === SELECT COLORS === */
    --select-color-0: var(--text-primary);
    --select-color-1: #bbf7d0;
    --select-color-2: #fcd34d;
    --select-color-3: #d8b4fe;
    /* --select-color-4: #93c5fd; */
}

/* 🌑 Dark theme*/
.theme-dark {
    --text-primary: #dcdcdc;
    --text-secondary: #9e9e9e;
    --text-muted: #6b6b6b;
    --text-on-accent: #1e1e1e;

    --bg-primary: #1e1e1e;
    --bg-secondary: #2a2a2a;
    --bg-tertiary: #333333;

    --accent: #7c3aed;
    --accent-muted: #a78bfa;

    --border-color: #3a3a3a;
    --shadow-color: rgba(0, 0, 0, 0.3);
}