.dayWrapper {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.dayWrapperInner {
  width: 100%;
  padding: 1rem;
  border-top-left-radius: var(--border-radius-task);
  border-bottom-left-radius: var(--border-radius-task);
  border-left: 4px solid var(--bg-primary);
  background-color: var(--bg-primary);
}

.dayHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.taskToggleBtn {
  border: none;
  border-radius: 0;
  background-color: var(--bg-primary);
  width: 100%;
  
  &:hover {
    background-color: var(--bg-primary);
    color: var(--accent);
  }
}

.tasksList {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 32px;
}
