.item {
  display: flex;
  width: 100%;
}

.info {
  width: 100%;
  padding: 1rem;
  border-top-left-radius: var(--border-radius-task);
  border-bottom-left-radius: var(--border-radius-task);
  border-left: 4px solid var(--bg-primary);
  background-color: var(--bg-secondary);
}

.metaAndTiming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.meta,
.timing {
  display: flex;
  gap: 0.2rem;
  flex-wrap: nowrap;
  font-size: var(--font-size-secondary);
}

.timing {
  padding-bottom: 0.1rem;
}

.templatesubtaskToggle {
  border: none;
  width: 100%;
}

.repeatRuleSelector {
  padding: 0 !important;
  margin: 0 !important;

  & div {
    span {
      font-size: var(--font-size-secondary) !important;
      padding: 0 !important;
    }
  }
}
