.button {
  padding: 0.4em 0.6em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--text-primary);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 2px solid var(--accent-muted);
  }

  @media (max-width: 600px) {
    padding: 0.2em 0.4em;
  }
}
