.categoryWrapper {
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-primary);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.toggleButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  width: fit-content;
}

.advancedSettings {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;

  &.visible {
    max-height: 1500px; // Достаточно большое значение, чтобы вместить контент
  }
}

.btnsWrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.deletionMessage {
  text-align: center;
  padding: 2rem 1rem;
  margin: 1rem 0;
  background-color: var(--bg-danger-light);
  border-radius: var(--border-radius-primary);

  p {
    color: var(--text-danger);
    font-weight: var(--font-weight-big);
  }
}
