.userProfile {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 0.2rem;

  &:hover {
    background-color: var(--bg-tertiary);
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    width: 32px;
    height: 32px;
    padding: 0.3rem;
  }
}
