.badge {
  padding: 0rem 0.6rem 0.2rem 0.6rem ;
  border-radius: 9999px;
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-big);
  color: var(--text-on-accent);
  max-width: 124px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
