.nav {
  display: flex;
  gap: 1rem;
  background: var(--bg-primary);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-primary);

  @media (max-width: 600px) {
    gap: 0.4rem;
  }
}

.item {
  border: none;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius-primary);
  font-weight: var(--font-weight-big);
  text-decoration: none;
  background: var(--bg-primary);
  color: var(--text-primary);

  &:hover {
    background: var(--bg-secondary);
  }

  @media (max-width: 600px) {
    padding: 0.3rem 0.6rem;
  }
}

.active {
  background: var(--bg-tertiary);
}
